.topnav {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: -50px;
    margin-top: -25px;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

.topnav img {
    margin: auto;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.topnav a:hover {
    color: #a362ff;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.pagesList p {
    margin-top: 50px;
    font-size: 25px;
}

.pagesList a {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 20px;
    transition: 0.5s;
}

.pagesList a:hover {
    color: #a362ff;
}

/* Interactive piano */
#piano {
    display: flex;
    position: relative;
    height: auto;
    margin: 20px auto;
    width: 700px;
    border-radius: 15px;
    background-color: #222;
}

.white-key {
    flex: 1;
    background: #fff;
    border: 1px solid #272727;
    color: #272727;
    border-radius: 0 0 15px 15px;
    line-height: 170px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: 0.5s;
}

.black-key {
    position: absolute;
    background: #272727;
    border-radius: 0 0 15px 15px;
    width: 40px;
    height: 120px;
    top: 0;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: 0.5s;
}

.white-key:hover {
    background: #d8d8d8;
}

.black-key:hover {
    background: #464646;
}

/* Position black keys */
.black-key:nth-child(2) { left: 68px; }
.black-key:nth-child(4) { left: 155px; }
.black-key:nth-child(7) { left: 330px; }
.black-key:nth-child(9) { left: 418px; }
.black-key:nth-child(11) { left: 506px; }
