.topnav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: -50px;
    margin-top: -25px;
    gap: 60px
}

.topnav a {
    color: #f2f2f2;
    font-size: 20px;
    margin-top: -20px;
    width: 7%;
    transition: font-weight 0.3s, text 0.3s;
}

.topnav a:hover {
    font-weight: 900;
    background: -webkit-linear-gradient(0.1turn, #2ea8ff, #8a37ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(46, 168, 255, 0.3), 0 0 20px rgba(46, 168, 255, 0.3), 0 0 30px rgba(46, 168, 255, 0.5);
}

.topnav img {
    width: 400px;
    height: 100%;
}

.pagesList p {
    margin-top: 50px;
    font-size: 25px;
}

.pagesList a {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 20px;
    transition: 0.5s;
}

.pagesList a:hover {
    color: #a362ff;
}

/* Interactive piano */
#piano {
    display: flex;
    position: relative;
    height: auto;
    margin: 20px auto;
    width: 700px;
    border-radius: 5px 5px 15px 15px;
    background-color: #272727;
    padding: 10px;
    border: 1px solid #8f8f8f;
}

.white-key {
    flex: 1;
    background: #fff;
    border: 1px solid #272727;
    color: #272727;
    border-radius: 0 0 15px 15px;
    line-height: 170px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: 0.5s;
}

.black-key {
    position: absolute;
    background: #272727;
    border-radius: 0 0 15px 15px;
    width: 40px;
    height: 120px;
    top: 0;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    margin-top: 10px;
    transition: 0.5s;
}

.white-key:hover {
    background: #d8d8d8;
}

.black-key:hover {
    background: #464646;
}

/* Position black keys */
.black-key:nth-child(2) { left: 68px; }
.black-key:nth-child(4) { left: 155px; }
.black-key:nth-child(7) { left: 330px; }
.black-key:nth-child(9) { left: 418px; }
.black-key:nth-child(11) { left: 506px; }

.pagesList a {
    display: block;
    margin-bottom: 15px;
}