.top-nav {
    display: flex;
    margin-top: -15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top-nav a span {
    position: fixed;
    left: 20px;
    top: 25px;
    font-size: 50px;
}

#exercise button {
    margin: 10px;
}

#exercise input {
    margin: 10px;
}

/* Volume slider styling */
#volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    margin: 20px;
    border-radius: 5px;  
    background: #525252;
    outline: none;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #5f5f5f;
    cursor: pointer;
    transition: .5s;
}

#volume-slider::-webkit-slider-thumb:hover {
    background: #751fee;
}

#piano-keys {
    display: none;
    width: 500px;
    height: auto;
    margin-top: -20px;
}

#piano-keys-ref {
    font-size: 30px;
    margin-top: -20px;
}

#visualizer {
    border: 1px solid #575757;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

#sound-select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

#score {
    background: -webkit-linear-gradient(0.1turn, #2ea8ff, #751fee 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px dashed #727272;
    text-shadow: 0 0 10px rgba(46, 168, 255, 0.3), 0 0 20px rgba(46, 168, 255, 0.3), 0 0 30px rgba(46, 168, 255, 0.2);
}

#score::before {
    content: attr(data-text);
    white-space: pre;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 15px;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background: #3a3a3a;
    color: #8f8f8f;
    text-align: center;
    text-shadow: none;

    /* Reset inherited properties */
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;

    display: none; /* Hide by default */
}

#score:hover {
    cursor: pointer;
}

#score:hover::before {
    display: block;
}

