* {
    background-color: #272727;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #8f8f8f;
}

h1 {
    color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation-duration: 1s;
    transition: 1s;
}

button:hover {
    background-color: #3700b3;
}

input {
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
    transition: 1s;
}

input:focus {
    border: 2px solid #6200ea;
    
}
