@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Nunito Sans", serif;
    background-color: #272727;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #8f8f8f;
}

h1 {
    color: #fff;
}

hr {
    border-color: #8f8f8f;
}

select {
    color: #8f8f8f;
    border: 2px solid #8f8f8f;
    padding: 7px;
    outline: none;
    border-radius: 15px;
    transition: 0.5s;
}

select:focus {
    border: 2px solid #6200ea;
}