<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteful | Chord Identification</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Base styling -->
    <link rel="stylesheet" href="/static/css/chord_identification.css">
</head>
<body>
    <h1>🎵 Chord Identification</h1>

    <script src="/static/js/chord_identification.js"></script>
</body>
</html>