<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteful | Chord Identification</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Base styling -->
    <link rel="stylesheet" href="/static/css/chord_identification.css">
</head>
<body>
    <h1>🎵 Chord Identification</h1>

    <div id="exercise">
        <button onclick="generateChord()">Start</button>
        <label for="chord">Your Answer:</label>
        <input class="answer-input" type="text" id="chord" placeholder="e.g., Cmin">
        <button onclick="submitChord()">Submit</button>
    </div>
    <p id="result">Press "Start" to generate a chord!</p>

    <!-- Piano keys image -->
    <img class="pianoKeys" src="/static/images/piano-keys.png"><br>

    <!-- Volume control -->
    <input value="0.5" type="range" id="volume-slider" min="0" max="1" step="0.01"><br>
    <label for="volume-slider">Volume: </label> 
    <span id="volume-display">50%</span><br>

    <script src="/static/js/chord_identification.js"></script>
</body>
</html>