<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteful | Home</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Base styling -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/">Learn</a>
        <div class="logo"><img  src="/static/images/logo.png"></div>
        <a href="/">Test</a>
        <a href="/">Games</a>
    </div>
    <hr>

    <!-- Interactive Piano Keys -->
    <div id="piano">
        <!-- White keys -->
        <div class="white-key" data-note="C5">C</div>
        <div class="black-key" data-note="C#5"></div>
        <div class="white-key" data-note="D5">D</div>
        <div class="black-key" data-note="D#5"></div>
        <div class="white-key" data-note="E5">E</div>
        <div class="white-key" data-note="F5">F</div>
        <div class="black-key" data-note="F#5"></div>
        <div class="white-key" data-note="G5">G</div>
        <div class="black-key" data-note="G#5"></div>
        <div class="white-key" data-note="A5">A</div>
        <div class="black-key" data-note="A#5"></div>
        <div class="white-key" data-note="B5">B</div>
        <div class="white-key" data-note="C6">C</div>
    </div>

    <div class="pagesList">
        <p>🎶 Choose from our music practice tools:</p>
        <a href="/pitch_identification">Pitch Identification</a>
    </div>

    <hr style="margin-top: 550px;">
    <footer class="footer">
        <div class="logo">
            <a href="/">
                <img src="/static/images/icon.png" alt="Logo" class="footer-logo-img">
            </a>
            <p>Noteful &copy; 2024</p>
        </div>

        <div class="name">
            <p>by Wiktor Skrzynecki</p>
            <a href="https://github.com/Hadevsh">GitHub</a>
        </div>
    </footer>

    <script src="/static/js/index.js"></script>
</body>
</html>
