<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteful - Home</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Base styling -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/pitch_identification">Pitch Identification</a>
    </div>

    <img class="logo" src="./static/images/logo.png">
    <div class="pagesList">
        <p>Choose from our music practice tools:</p>
        <a href="/pitch_identification">Pitch Identification</a>
    </div>
</body>
</html>
