<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteful | Pitch Identification</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Base styling -->
    <link rel="stylesheet" href="/static/css/pitch_identification.css">
</head>
<body>
    <h1>🎵 Piano: Pitch Identification</h1>

    <div id="exercise">
        <p></p>
        <button onclick="generatePitch()">Start</button>
        <label for="pitch">Your Answer:</label>
        <input class="answerInput" type="text" id="pitch" placeholder="e.g., C4">
        <button onclick="submitPitch()">Submit</button>
    </div>
    <p id="result">Press "Start" to generate a pitch!</p>

    <!-- Piano keys image -->
    <img class="pianoKeys" src="./static/images/piano-keys.png"><br>

    <!-- Keys to choose from -->
    <div style="margin: 20px; margin-top: -10px;">
        <p>Choose from:</p>
        <p style="margin: -10px;" id="keysChoose"></p>
    </div>
    
    <!-- Volume control -->
    <input value="0.5" type="range" id="volume-slider" min="0" max="1" step="0.01"><br>
    <label for="volume-slider">Volume: </label> 
    <span id="volume-display">50%</span><br>

    <!-- Canvas for the frequency visualizer chart -->
    <div class="visualizer">
        <canvas id="visualizer" width="800" height="300" style="padding: 10px;"></canvas>
        <p>Frequency Visualization</p>
    </div>

    <script src="/static/js/pitch_identification.js"></script>
</body>
</html>