<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteful | Pitch Identification</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.ico">

    <link rel="stylesheet" href="/static/css/style.css"> <!-- Base styling -->
    <link rel="stylesheet" href="/static/css/pitch_identification.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home"/> <!-- Icons -->
</head>
<body>
    <div class="top-nav">
        <a href="/">
            <span class="material-symbols-outlined">home</span>
        </a>
        <h1>🎵 Pitch Identification</h1>
    </div>
    <hr>
    
    <!-- Display score -->
    <div class="score-display">
        <p style="font-weight: 900;"><span data-text="-10 Generating a pich&#xa;+50 Correct&#xa;-60 Incorrect" id="score"></span> XP</p>
    </div>
    
    <!-- Piano keys image -->
    <!-- <img class="piano-keys" src="/static/images/piano-keys.png"><br> -->

    <!-- Keys to choose from -->
    <!-- <div style="margin: 20px; margin-top: -10px;">
        <p>Choose from:</p>
        <p style="margin: -10px;" id="keysChoose"></p>
    </div> -->

    <!-- Instrument/Sound selection -->
    <div id="sound-select">
        <p>Sound: </p>
        <select name="instrument" id="instrument" onchange="updateInstrument()">
            <!-- Instrument options will be dynamically populated -->
        </select>
    </div>

    <!-- Canvas for the frequency visualizer chart -->
    <div class="visualizer">
        <p>Frequency Visualization</p>
        <canvas id="visualizer" width="800" height="300"></canvas>
    </div>

    <div id="exercise">
        <button onclick="generatePitch()">Start</button>
        <label for="pitch">Your Answer:</label>
        <input class="answer-input" type="text" id="pitch" placeholder="e.g., C4">
        <button onclick="submitPitch()">Submit</button>
    </div>
    <p id="result">Press "Start" to generate a pitch!</p>

    <!-- Volume control -->
    <label for="volume-slider">Volume: </label> 
    <input value="0.5" type="range" id="volume-slider" min="0" max="1" step="0.01">
    <span id="volume-display" style="position: fixed; margin-top: 14px;">50%</span>

    <script type="module" src="/static/js/utils.js"></script>
    <script type="module" src="/static/js/pitch_identification.js"></script>
</body>
</html>